set -Ux GITHUB_TOKEN "{{ .fish.GITHUB_TOKEN }}"
set -Ux HOMEBREW_GITHUB_API_TOKEN "{{ .fish.HOMEBREW_GITHUB_API_TOKEN }}"
set -Ux NGROK_AUTHTOKEN "{{ .fish.NGROK_AUTHTOKEN }}"
set -Ux OP_ACCOUNT "{{ .fish.OP_ACCOUNT }}"
set -Ux GHCR_FULL "{{ .fish.GHCR_FULL }}"
set -Ux OPENAI_API_KEY "{{ .fish.OPENAI_API_KEY }}"
set -Ux OPENAI_KEY "{{ .fish.OPENAI_API_KEY }}"
