set -Ux GITHUB_TOKEN "{{ .fish.GITHUB_TOKEN }}"
set -Ux HOMEBREW_GITHUB_API_TOKEN "{{ .fish.HOMEBREW_GITHUB_API_TOKEN }}"
set -Ux NGROK_AUTHTOKEN "{{ .fish.NGROK_AUTHTOKEN }}"
set -Ux OP_ACCOUNT "{{ .fish.OP_ACCOUNT }}"
