# vim:ft=gitconfig

[user]
	name = Gregory Gaskill
	email = {{ .git.email }}
	signingkey = {{ .git.signingkey }}
[commit]
	gpgsign = true
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[core]
	editor = nvim
	excludesFile = ~/.config/git/gitignore
	attributesfile = ~/.config/git/gitattributes
	quotepath = false
	pager = delta # delta
[interactive]
	diffFilter = delta --color-only # delta
[delta]
	line-numbers = true # delta
[init]
	defaultBranch = main
[pager]
	branch = false
[pull]
	rebase = false
[alias]
	loadsys = config user.email \"gregory@loadsys.com\"
	st = status -sb
	mp = ! "git checkout main && git pull --prune"
	mpm = ! "git mp && docker-compose exec php bin/phinx migrate"
	prv = ! "gh pr view --web"
	aliases = ! "git config --list | grep -E '^alias'"
	ws = ! "git rebase --whitespace=fix origin/main"
	cleanpush = ! "git rebase --whitespace=fix origin/main && git push origin \"$(git rev-parse --abbrev-ref HEAD)\""
	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
[diff]
	colorMoved = default # delta
[difftool]
	prompt = false
[merge]
	tool = smerge
[mergetool]
	keepBackup = false
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[difftool "smerge"]
	cmd = smerge \"$BASE\" \"$LOCAL\" \"$REMOTE\"
[difftool "kitty"]
	cmd = kitty +kitten diff $LOCAL $REMOTE
